#header {
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    height: 100px;
}

#header-block {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

#header-main-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#header-main-nav > li {
    margin-right: 20px;
}

#header-main-nav > li:nth-child(3n) {
    page-break-after: always;
}

#header-logotext {
    font-family: monospace; font-size: 30px;
}

#body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    height: 600px;
}

#category-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: burlywood;
    justify-content: initial;
    border: 1px solid black;
}

#category-block:hover {
    border: 2px solid black;
}

section {
    width: 1200px;
}

header, .row {
    display: flex;
    justify-content: space-between;
}

.row:hover {
    background-color: beige;
}

header {
    background-color: burlywood;
}

.col {
    flex: 1;
}

header > .col {
    border: 1px solid azure;
}


.container {
    width: 80%;
    max-width: 1200px;
    margin: 10px auto;
}

.container * {
    box-sizing: border-box;
}

.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 500px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
    margin-bottom: 10px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 8px;
    font-weight: 100;
    text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p
.flex-outer li span {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
    border: none;
}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-inner li {
    width: 100px;
}