<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
</head>
 <div id="header">
     <div id="header-logotext header-block">
         <p style="font-family: monospace; font-size: 30px;">
             Web learning
         </p> 
     </div>
     <div id="header-nav header-block">
         @{
             await Html.RenderPartialAsync("_Menu");
         }
     </div>
 </div>
<body>
    <div id="body">
        @RenderBody()
    </div>
</body>
</html>
