<ul id="header-main-nav">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Categories", "Index", "Categories")
                </li>
                <li>
                    @Html.ActionLink("Products", "Index", "Products")
                </li>
            </ul>
